.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.reviewer-name {
  color: red;
}

* {
  font-family: 'Spartan', sans-serif;
}

h1 {
  text-align: center;
}